@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 8%;
    background-color: #F4F4F4;
    color: #222222;
}


.subtitle {
    font-style: italic;
    margin-bottom: 24px;
    font-weight: bold;
}

p {
    display: flex;
    padding: 8px 16px;
    margin: 0;
}

div p:nth-child(even) {
    background-color:#DDD;
}

p span {
    flex: 0 0 100px;
}
